<!doctype html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Todo app</title>
    <link rel="stylesheet" th:href="@{/webjars/todomvc-common/base.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/todomvc-app-css/index.css}">
</head>

<body>
<section
        class="todoapp"
>
    <header class="header">
        <h1>todos</h1>
        <input
                id="new-todo-input"
                class="new-todo"
                placeholder="What needs to be done?"
                autofocus
                th:field="*{item.title}"
                hx-target="#todo-list"
                hx-swap="beforeend"
                hx-post="/"
                hx-trigger="keyup[key=='Enter']"
        />
    </header>
    <section
            id="main-section"
            class="main"
            th:classappend="${! someItemsPresent ? 'hidden' : ''}"
    >
        <input id="toggle-all" class="toggle-all" type="checkbox"/>
        <label for="toggle-all">Mark all completed</label>
        <ul
                class="todo-list"
                id="todo-list"
        >
            <li th:insert="frag_todo :: frag_todo(${item})"
                th:each="item : ${todos}"
                th:remove="tag"
            >
            </li>
        </ul>
    </section>

    <footer
            id="actions-footer"
            class="footer"
            th:classappend="${! someItemsPresent ? 'hidden' : ''}"
    >
        <div
                th:replace="frag_count :: active_item_count()"
        >
        </div>
        <div
                th:insert="frag_filters :: frag_filters(${listFilter})"
                th:remove="tag">
        </div>

        <form
                th:action="@{/completed}"
                th:method="delete"
                th:if="${someCompletedTodosPresent}"
        >
            <button
                    class="clear-completed"
            >
                Clear completed
            </button>
        </form>
    </footer>
</section>

<footer class="info">
    <p>Double click to edit a todo</p>
</footer>
<script type="text/javascript" th:src="@{/webjars/htmx.org/dist/htmx.min.js}"></script>
<script>
    htmx.on("#new-todo-input", 'htmx:afterRequest', function (evt) {
        evt.detail.elt.value = '';
    });

    // add main section if item is added for first time
    htmx.on('htmx:afterSwap', function (evt) {
        console.log('htmx after swap. event is', evt);
        const items = document.querySelectorAll('#todo-list li');
        const mainSection = document.querySelector('#main-section');
        const actionsFooter = document.querySelector('#actions-footer');
        if (items.length === 0) {
            mainSection.classList.add('hidden');
            actionsFooter.classList.add('hidden');
        } else {
            mainSection.classList.remove('hidden');
            actionsFooter.classList.remove('hidden');
        }
    })
</script>
</body>
</html>