<!doctype html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Todo app</title>
    <link rel="stylesheet" th:href="@{/webjars/todomvc-common/base.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/todomvc-app-css/index.css}">
</head>

<body>
<section class="todoapp" hx-boost="true">
    <header class="header">
        <h1>todos</h1>
        <form th:action="@{/}" method="post" th:object="${item}">
            <input
                    class="new-todo"
                    placeholder="What needs to be done?"
                    autofocus
                    th:field="*{title}"
            />
        </form>
    </header>
    <!--            This section should be hidden be default -->
    <!--            and only shown when there are todos -->
    <section class="main" th:if="${someItemsPresent}">
        <input id="toggle-all" class="toggle-all" type="checkbox"/>
        <label for="toggle-all">Mark all completed</label>
        <ul class="todo-list">
            <!-- fragment is a template, frag_todo.html -->
            <li th:insert="frag_todo :: frag_todo(${item})"
                th:each="item : ${todos}"
                th:remove="tag"
            >
            </li>
        </ul>
    </section>

    <!--            Footer should only be shown when there are todos -->
    <footer class="footer" th:if="${someItemsPresent}">
        <!--                by default should be `0 items left` -->
        <th:block th:unless="${incompleteTodoItemCount == 0}">
             <span
                     class="todo-count">
                <strong th:text="${incompleteTodoItemCount}"></strong>
                <strong> / </strong>
                <strong th:text="${todoItemCount}"></strong>
                items left
            </span>
        </th:block>
        <th:block th:if="${incompleteTodoItemCount==0}">
            <span class="todo-count">No item left</span>
        </th:block>
        <div
                th:insert="frag_filters :: frag_filters(${listFilter})"
                th:remove="tag">
        </div>

        <form
            th:action="@{/completed}"
            th:method="delete"
            th:if="${someCompletedTodosPresent}"
            >
            <button
                class="clear-completed"
                >
                Clear completed
            </button>
        </form>
    </footer>
</section>

<footer class="info">
    <p>Double click to edit a todo</p>
</footer>
<script type="text/javascript" th:src="@{/webjars/htmx.org/dist/htmx.min.js}"></script>

</body>
</html>